/* input[type="radio"] {
    display: none;
}

label {
    display: inline-block;
    background-color: #ddd;
    padding: 4px 11px;
    font-family: Arial;
    font-size: 16px;
    cursor: pointer;
  }

input[type="radio"]:checked+label {
    background-color: #f00;
} */